# macOS
.DS_Store

# Editor
*.swp
*~

# Environment variables
.env
.env.local

# Logs
*.log

# Dependencies
node_modules/

# Cache
.cache/

# Backup files
*.backup
*.bak

# Local configuration
*.local