* {
  font-family: Maple Mono;
  background: transparent;
  color: #d8cab8;
}

#window {
  color: #d8cab8;
  border-color: #a8826b;
  border-style: solid;
  border-width: 1px;

  /*Linear gradient background instead of standard background, because it makes cleaner border-radius cuts, issa bug :p*/
  background-image: linear-gradient(to bottom, #282828 100%);
  border-radius: 8px;
}

#scroll {
  border-top-style: none;
}

#outer-box {
  padding: 12px;
}

#inner-box {
  padding-top: 12px;
}

#entry {
  border-style: none;
  border-color: #d8cab8;
  color: #d8cab8;
  padding: 6px;
  margin-bottom: 8px;
  margin-left: 12px;
  margin-right: 12;

  border-radius: 12px;
}

#entry:selected {
  background: #4d3d52;
  color: #a89d82;
  font-weight: bold;
  outline: none;
}

#input {
  padding: 6px 12px;
  margin: 20px 12px;
  border-radius: 8px;
}

#img {
  padding: 4px;
  margin-right: 6px;
}
