/* Bex Codes theme for swaync */

* {
  all: unset;
  font-size: 14px;
  font-family: "Maple Mono NF";
  transition: 200ms;
}

/* sliders */
trough highlight {
  background: #e0e0e0;
}

scale {
  margin: 0 7px;
}

scale trough {
  margin: 0rem 1rem;
  min-height: 8px;
  min-width: 70px;
  border-radius: 6px;
}

trough slider {
  margin: -10px;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  transition: all 0.2s ease;
  background-color: #cba6f7;
}

trough slider:hover {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8), 0 0 8px #cba6f7;
}

trough {
  background-color: #4d3d52;
}

/* notifications */
.notification-row {
  margin: 8px;
}

.notification {
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.4);
  border: 1px solid #a8826b;
  border-radius: 8px;
  background: rgba(40, 40, 40, 0.85);
  color: #e0e0e0;
  padding: 8px;
}

.notification-background .notification {
  border-radius: 8px;
}

.notification-background .notification.critical {
  box-shadow: inset 0 0 7px 0 #f38ba8;
}

.notification .notification-content {
  margin: 8px;
}

.notification .notification-content overlay {
  /* icons */
  margin: 4px;
}

.notification-content .summary {
  font-size: 1.1em;
  font-weight: bold;
  color: #e0e0e0;
}

.notification-content .time {
  font-size: 0.85em;
  color: #7c6f9f;
}

.notification-content .body {
  font-size: 0.95em;
  color: #a6adc8;
}

.notification > *:last-child > * {
  min-height: 3.4em;
}

.notification-background .close-button {
  margin: 8px;
  padding: 6px;
  border-radius: 50%;
  color: #a6adc8;
  background-color: transparent;
  border: 1px solid transparent;
  min-width: 24px;
  min-height: 24px;
}

.notification-background .close-button:hover {
  color: #f38ba8;
  background-color: rgba(243, 139, 168, 0.15);
  border: 1px solid rgba(243, 139, 168, 0.3);
}

.notification-background .close-button:active {
  color: #282828;
  background-color: #f38ba8;
}

.notification .notification-action {
  border-radius: 8px;
  color: #e0e0e0;
  background-color: #4d3d52;
  margin: 4px;
  padding: 8px;
  font-size: 0.2rem; /* controls the button size not text size*/
}

.notification .notification-action:hover {
  background-color: #7c6f9f;
}

.notification .notification-action:active {
  background-color: #cba6f7;
  color: #282828;
}

.notification.critical progress {
  background-color: #f38ba8;
}

.notification.low progress,
.notification.normal progress {
  background-color: #cba6f7;
}

.notification progress,
.notification trough,
.notification progressbar {
  border-radius: 6px;
  padding: 3px 0;
}

/* control center */
.control-center {
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.4), inset 0 0 0 1px #a8826b;
  border-radius: 8px;
  background-color: rgba(40, 40, 40, 0.85);
  color: #e0e0e0;
  padding: 14px;
  margin-top: 10px;
}

.control-center .notification-background {
  border-radius: 8px;
  box-shadow: inset 0 0 0 1px #a8826b;
  background: #4d3d52;
  margin: 8px 10px;
}

.control-center .notification-background .notification {
  border-radius: 8px;
}

.control-center .notification-background .notification.low {
  opacity: 0.9;
}

.control-center .widget-title > label {
  color: #e0e0e0;
  font-size: 1.3em;
}

.control-center .widget-title button {
  border-radius: 8px;
  color: #e0e0e0;
  background-color: #4d3d52;
  padding: 8px;
}

.control-center .widget-title button:hover {
  background-color: #7c6f9f;
}

.control-center .widget-title button:active {
  background-color: #cba6f7;
  color: #282828;
}

.control-center .notification-group {
  margin-top: 10px;
}

.control-center .notification-group:focus .notification-background {
  background-color: #4d3d52;
}

scrollbar slider {
  margin: -3px;
  opacity: 0.8;
}

scrollbar trough {
  margin: 2px 0;
}

/* dnd */
.widget-dnd {
  margin: 10px 6px;
  border-radius: 8px;
  font-size: 1.1rem;
}

.widget-dnd > switch {
  font-size: initial;
  border-radius: 8px;
  background: #4d3d52;
  box-shadow: none;
}

.widget-dnd > switch:checked {
  background: #99d1a0;
}

.widget-dnd > switch slider {
  background: #7c6f9f;
  border-radius: 8px;
}

/* mpris */
.widget-mpris-player {
  background: #4d3d52;
  border-radius: 8px;
  color: #e0e0e0;
}

.mpris-overlay {
  background-color: rgba(77, 61, 82, 0.95);
  padding: 15px 10px;
  border-radius: 8px;
}

.widget-mpris-album-art {
  -gtk-icon-size: 100px;
  border-radius: 8px;
  margin: 0 10px;
}

.widget-mpris-title {
  font-size: 1.2rem;
  color: #e0e0e0;
}

.widget-mpris-subtitle {
  font-size: 1rem;
  color: #a6adc8;
}

.widget-mpris button {
  border-radius: 8px;
  color: #e0e0e0;
  margin: 0 5px;
  padding: 2px;
}

.widget-mpris button image {
  -gtk-icon-size: 1.8rem;
}

.widget-mpris button:hover {
  background-color: #7c6f9f;
}

.widget-mpris button:active {
  background-color: #cba6f7;
  color: #282828;
}

.widget-mpris button:disabled {
  opacity: 0.5;
}

.widget-menubar > box > .menu-button-bar > button > label {
  font-size: 3rem;
  padding: 0.5rem 2rem;
}

.widget-menubar > box > .menu-button-bar > :last-child {
  color: #f38ba8;
}

.power-buttons button:hover,
.powermode-buttons button:hover,
.screenshot-buttons button:hover {
  background: #4d3d52;
}

.control-center .widget-label > label {
  color: #e0e0e0;
  font-size: 2rem;
}

.widget-buttons-grid {
  padding-top: 1rem;
}

.widget-buttons-grid > flowbox > flowboxchild > button label {
  font-size: 2.5rem;
}

.widget-volume {
  padding: 1rem 0;
}

.widget-volume label {
  color: #7d9dcc;
  padding: 0 1rem;
}

.widget-volume trough highlight {
  background: #7d9dcc;
}

.widget-backlight trough highlight {
  background: #d9c9a0;
}

.widget-backlight label {
  font-size: 1.5rem;
  color: #d9c9a0;
}

.widget-backlight .KB {
  padding-bottom: 1rem;
}

.image {
  padding-right: 0.5rem;
}
